html {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
}

nav {
    text-align: center;
    font-size: 1.7rem;
    margin: 0 auto 30px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 80%;
    
}

/*
all nav tabs are usable when you trapse through the site. for example if you click on etc! tab,
the and then some tab becomes available.
*/

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}


nav a:hover,
nav a:active {
 background-color:rgba(85, 66, 104, 0.414);
 padding: 20px;
 
}

nav a:hover::before {
    content: "\2606  ";
}

nav a:link,
nav a:visited {
    text-decoration: none;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent {
    width: 1450px;
    height: 1000px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }

    .div1 span {
        font-family: 'Times New Roman', Times, serif;
        font-size: 4.5rem;

    }

    .div1 {
        
        grid-area: 1 / 1 / 3 / 4; 
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .div2 { 
        
        grid-area: 1 / 4 / 3 / 6; 
        background-color: blueviolet;
    
    }

    .div3 { 
        
        grid-area: 1 / 6 / 2 / 8; 
        background-color: blue;
    }

    .div4 { 
        
        grid-area: 2 / 6 / 3 / 8; 
        background-color: darkblue;
    
    }

    .div5 { 
        
        grid-area: 3 / 1 / 5 / 4; 
        background-color: cornflowerblue;
    
    }

    .div6 { 
        
        grid-area: 3 / 4 / 4 / 5; 
        background-color: darkviolet;
    
    }

    .div7 { 
        
        grid-area: 3 / 5 / 4 / 6; 
        background-color: dodgerblue;
    }

    .div8 { 
        
        grid-area: 4 / 4 / 5 / 6;
        background-color: slateblue;
    
    }

    .div9 { 
        
        grid-area: 3 / 6 / 5 / 8;
        background-color: blue;
    
    }

    /*
all of the photographs chosen for the by gia marie page are my paintings,
my drawings, my photography.
*/
    