html {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(171, 169, 194);
}

nav {
    text-align: center;
    font-size: 1.7rem;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    width: 60%;
    word-spacing: 3px;
    text-decoration: none;
    opacity: 80%;
    
}

nav a:hover,
nav a:active {
 background-color:rgba(85, 66, 104, 0.414);
 padding: 20px;
 
}

nav a:hover::before {
    content: "\2606  ";
}

nav a:link,
nav a:visited {
    text-decoration: none;
}

h1 {
    text-align: left;
    margin-top: 3%;
    margin-left: 15%;
    font-size: 3rem;
}

h2 {
    text-align: right;
    margin-right: 15%;
    margin-top: 10%;
    font-size: 3rem;
}

p {
    text-align: center;
    font-size: 1.5rem
}