html {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

*,
* ::before
* ::after {
    box-sizing: inherit;
}

nav {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3%;
    background-color: rgb(195, 186, 204);
    padding: 20px;
    word-spacing: 50px;
    
}

h1 {
    margin-top: 100px;
}

img {

    float: left;
    max-width: 20%;
    margin: 10%;
    margin-right: 30%;
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 49%;
    box-shadow: 5px 5px 3px #ccc;
    shape-outside: circle(50%);


}
 
p {
    font-size: 1.7rem;
    text-align: left;
}


