html {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

*,
* ::before
* ::after {

    box-sizing: inherit;

}

nav {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3%;
    background-color: rgb(195, 186, 204);
    padding: 20px;
    word-spacing: 50px;
    
}

h1 {
    margin-top: 7%;
    font-size: 3rem;
    text-shadow: 2px 2px 10px #583085;
    
}

img {
    float: left;
    max-width: 20%;
    margin: 10%;
    margin-right: 30%;
    margin-top: 7%;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #210244;
    shape-outside: circle(50%);
}
 
p {
    font-size: 1.7rem;
    margin-right: 10%;

}


