html {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(171, 169, 194);
}

*,
* ::before
* ::after {
    box-sizing: inherit;
}

nav {
    text-align: center;
    font-size: 1.7rem;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 70%;
    word-spacing: 10px;
    text-decoration: none;
    opacity: 80%;
    
}

nav li {
    display: inline;

}

nav a:hover,
nav a:active {
 background-color:rgba(85, 66, 104, 0.414);
 padding: 20px;
 
}

nav a:hover::before {
    content: "\2606  ";
}

nav a:link,
nav a:visited {
    text-decoration: none;
}

h1 {
    margin-top: 5%;
    font-size: 3.5rem;
    text-shadow: 2px 2px 10px #583085;
    
    
}

img {
    float: left;
    max-width: 20%;
    margin: 21%;
    margin-right: 30%;
    margin-top: 10%;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #210244;
    shape-outside: circle(50%);
}
 
p {
    margin-top: 3%;
    font-size: 1.7rem;
    margin-right: 10%;

}


p::before {
    content: "\2606  ";
}



footer {
    font-size: 1.1rem;
    text-align: right;
    clear: both;
    padding-left: 5%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: -70%;
    opacity: 80%;
}

