html {

    font-family: 'Times New Roman', Times, serif;

}

nav {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    
}

h1 {
    
    
}

p {
    font-size: 1.5rem;
}

img {
    float: left;
    width: 250px;
    margin: 10%;
    margin-right: 20%;
    margin-top: 7%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px;
    shape-outside: circle();

}